In [ ]:
참고한 유튜브 강의 : https://youtu.be/D9wZxmRltEY

올려두신 깃헙 코드랑 강의 보면서 따라한 것입니다

# 워밍업 / 카카오 난이도 하

### 1번 워밍업 문제(google)
1부터 10,000까지 8이라는 숫자가 총 몇번 나오는가?

8이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 8이라는 숫자를 모두 카운팅 해야 한다. (※ 예를들어 8808은 3, 8888은 4로 카운팅 해야 함)

문제 링크 : https://codingdojang.com/scode/393

In [ ]:
str(list(range(1,101))) # 문자 변환하면 쉽게 카운트 가능함. 
str(list(range(1,101))).count('8')

20

In [ ]:
#시간 측정

%%timeit

str(list(range(1, 101)))
str(list(range(1, 101))).count('8')

18.1 µs ± 6.13 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
# 풀어서 쓰기 

count = 0
for i in range(1001):
  if '8' in str(i):
    count += str(i).count('8')

count

300

In [ ]:
str(list(range(1001))).count('8')

300

### 2번 워밍업 문제(daum)
1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오. (단 점들의 배열은 모두 정렬되어있다고 가정한다.)

예를들어 S = [1, 3, 4, 8, 13, 17, 20] 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.

문제링크 : https://codingdojang.com/scode/408

내가 알아야 할 것
- *zip 함수 자유 자재로 사용하기* 
- *이렇게 두개의 쌍을 보는 문제는 zip을 활용!*

In [ ]:
s = [1, 3, 4, 8, 13, 17, 20]

In [ ]:
m = max(s)
m

20

In [ ]:
index = 0 
for i in range( len(s) - 1 ):
  if m > s[i+1] - s[i]:
    index = i
    m = s[i+1] - s[i]

s[index], s[index+1] # 모든 쌍을 다 돌려보고 결과값 도출..

(3, 4)

In [ ]:
s = [1, 3, 4, 8, 13, 17, 20] 
ss = [  3, 4, 8, 13, 17, 20]  # 1빼고

In [ ]:
list(zip(s,ss))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
sorted(list(zip(s,ss)), key =lambda i :i[1]) #두번째값 기준으로 정렬

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
def diff_num(i):
  return i[1] - i[0]

sorted(list(zip(s,ss)), key = diff_num)

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [ ]:
sorted(list(zip(s,ss)), key = diff_num)[0] #답

(3, 4)

### 3번 카카오 2018 공채 문제 1번
- 문제는 한 해 전에 공개됩니다. 예를 들어 2020 공채라면 19년에 시험을 보기 때문입니다.
- 링크 : https://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/

문제 이해부터가 중요하다. 
*(쌤은 OR연산이라고 하심)* 

**내가 알아야할것**
- *OR연산*
- 숫자를 이진법으로 바꿔주는 ```bin```함수 
- replace 함수 
- zfill함수 (*zfill(n): 파이썬 문자열 앞 공백 0으로 채우기(내가 원하는 자릿수 n ))

---

In [ ]:
bin(9)

'0b1001'

In [ ]:
bin(30)

'0b11110'

In [ ]:
# 9와 30만을 놓고 봤을때.

#  1001
# 11110 
# ------
# 11111 로 연산이 나올 수 있어야함.

In [ ]:
9|30

31

In [ ]:
bin(9|30) # 이진연산 |

'0b11111'

In [ ]:
bin(9 | 30)[2:].replace('1', '#').replace('0', ' ')
# 1을 #로 바꿔줌 
# 중간에 0이 들어가면 그건 공백으로

'#####'

In [ ]:
arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]

for i in zip(arr1,arr2):
  print(i)

(9, 30)
(20, 1)
(28, 21)
(18, 17)
(11, 28)

In [ ]:
for i,j in zip(arr1,arr2):
  print(i,j) # unpacking

9 30
20 1
28 21
18 17
11 28

In [ ]:
for i,j in zip(arr1,arr2):
  print(bin(i | j)[2:].replace('1', '#').replace('0', ' '))

#####
# # #
### #
#  ##
#####

In [ ]:
#  11  3 
# 101  5 
# ---
# 111

In [ ]:
arr1 = [3, 20, 28, 18, 11]
arr2 = [5, 1, 21, 17, 28]

for i,j in zip(arr1,arr2):
  print(bin(i | j)[2:].replace('1', '#').replace('0', ' '))

###
# # #
### #
#  ##
#####

3,5로 봤을 때 자릿수가 안맞음. 이걸 해결하기 위해서 zfill 메소드를 활용 

*zfill(n): 파이썬 문자열 앞 공백 0으로 채우기(내가 원하는 자릿수 n )

In [ ]:
arr1 = [3, 20, 28, 18, 11]
arr2 = [5, 1, 21, 17, 28]

n = 5

for i,j in zip(arr1,arr2):
  print('자릿수맞추기 이전 : ', bin(i | j)[2:])
  print('자릿수맞추기 이후 : ',bin(i | j)[2:].zfill(n))
  print("---")

자릿수맞추기 이전 :  111
자릿수맞추기 이후 :  00111
---
자릿수맞추기 이전 :  10101
자릿수맞추기 이후 :  10101
---
자릿수맞추기 이전 :  11101
자릿수맞추기 이후 :  11101
---
자릿수맞추기 이전 :  10011
자릿수맞추기 이후 :  10011
---
자릿수맞추기 이전 :  11111
자릿수맞추기 이후 :  11111
---

In [ ]:
for i, j in zip(arr1, arr2):
    print(bin(i | j)[2:].zfill(n).replace('1', '#').replace('0', ' '))

  ###
# # #
### #
#  ##
#####

In [ ]:
def sol(n,arr1,arr2):
  answer = []
  for i, j in zip(arr1, arr2):
    ans = bin(i | j)[2:].zfill(n).replace('1', '#').replace('0', ' ')
    answer.append(ans)
  return answer

In [ ]:
testcase = [(5, [9, 20, 28, 18, 11], [30, 1, 21, 17, 28]), 
            (5, [9, 3, 28, 18, 11], [30, 1, 21, 17, 28]),
            (6, [46, 33, 33 ,22, 31, 50], [27 ,56, 19, 14, 14, 10])]

for i, j, k in testcase:
    print(sol(i, j, k))

['#####', '# # #', '### #', '#  ##', '#####']
['#####', '   ##', '### #', '#  ##', '#####']
['######', '###  #', '##  ##', ' #### ', ' #####', '### # ']

### 3번 2018 카카오 입사문제 2번
https://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/

카카오톡 게임별의 하반기 신규 서비스로 다트 게임을 출시하기로 했다. 다트 게임은 다트판에 다트를 세 차례 던져 그 점수의 합계로 실력을 겨루는 게임으로, 모두가 간단히 즐길 수 있다.
갓 입사한 무지는 코딩 실력을 인정받아 게임의 핵심 부분인 점수 계산 로직을 맡게 되었다. 다트 게임의 점수 계산 로직은 아래와 같다.


---


다트 게임은 총 3번의 기회로 구성된다.

각 기회마다 얻을 수 있는 점수는 0점에서 10점까지이다.


* 점수와 함께 Single(S), Double(D), Triple(T) 영역이 존재하고 각 영역 당첨 시 점수에서 1제곱, 2제곱, 3제곱 (점수^1 , 점수^2 , 점수^3 )으로 계산된다.

- 옵션으로 스타상(*) , 아차상(#)이 존재하며 스타상(*) 당첨 시 해당 점수와 바로 전에 얻은 점수를 각 2배로 만든다. 아차상(#) 당첨 시 해당 점수는 마이너스된다.
- 스타상(*)은 첫 번째 기회에서도 나올 수 있다. 이 경우 첫 번째 스타상(*)의 점수만 2배가 된다. (예제 4번 참고)
- 스타상(*)의 효과는 다른 스타상(*)의 효과와 중첩될 수 있다. 이 경우 중첩된 스타상(*) 점수는 4배가 된다. (예제 4번 참고)
- 스타상(*)의 효과는 아차상(#)의 효과와 중첩될 수 있다. 이 경우 중첩된 아차상(#)의 점수는 -2배가 된다. (예제 5번 참고)
- Single(S), Double(D), Triple(T)은 점수마다 하나씩 존재한다.
스타상(*), 아차상(#)은 점수마다 둘 중 하나만 존재할 수 있으며, 존재하지 않을 수도 있다.
0~10의 정수와 문자 S, D, T, *, #로 구성된 문자열이 입력될 시 총점수를 반환하는 함수를 작성하라.


---

<입력 형식>

“점수|보너스|[옵션]”으로 이루어진 문자열 3세트.
예) 1S2D*3T

- 점수는 0에서 10 사이의 정수이다.
- 보너스는 S, D, T 중 하나이다.
- 옵선은 *이나 # 중 하나이며, 없을 수도 있다.


<출력 형식>

3번의 기회에서 얻은 점수 합계에 해당하는 정수값을 출력한다.
예) 37



```
# 함수 구성 

def solution(dartResult):
    점수 = []
    for i in dartResult:
        if i == 'S':
            pass
        if i == 'D':
            pass
        if i == 'T':
            pass
        if i == '*':
            pass
        if i == '#':
            pass
        else:
            pass

```

---

**내가 얻어갈 부분**
- *파이썬 문자열 슬라이싱 명확하게 이해하기..!! 자꾸 헷갈림.*
- ```enumerate(list , 1)```*이런식으로 1을 써주면 인덱스가 1부터 저장됨..! 신세계*
- *정규표현식 쓰는법 익히기*



---

주의해야할 부분: 
숫자를 하나씩 읽도록 짰기 때문에 0 과 10에 대해서 명확히 구분해줄 필요가 있음. 

```
if dartResult[num-1:num+1] == "10": #두개씩 슬라이싱
            ans.append(10)
          elif dartResult[num-2:num+1] != "10":
            ans.append(int(i))

 ```

In [ ]:
def solution(dartResult):
    ans = []
    for num,i in enumerate(dartResult,1):
        if i == 'S':
            ans[-1]**=1
        elif i == 'D':
            ans[-1]**=2
        elif i == 'T':
            ans[-1]**=3
        elif i == '*':
            ans[-1]*=2 # 2배
            if len(ans) == 2:
              ans[-2]*=2

        elif i == '#':
            ans[-1]*=-1
        else:
          if dartResult[num-1:num+1] == "10": #두개씩 슬라이싱
            ans.append(10)
          elif dartResult[num-2:num+1] != "10":
            ans.append(int(i))

    return sum(ans) 

print(solution('1S2D*3T'))

37

In [ ]:
def solution(dartResult):
    ans = []
    for num,i in enumerate(dartResult,1):
        if i == 'S':
            ans[-1]**=1
        elif i == 'D':
            ans[-1]**=2
        elif i == 'T':
            ans[-1]**=3
        elif i == '*':
            ans[-1]*=2 # 2배
            if len(ans) == 2:
              ans[-2]*=2

        elif i == '#':
            ans[-1]*=-1
        else:
          if dartResult[num-1:num+1] == "10": #두개씩 슬라이싱
            ans.append(10)
          elif dartResult[num-2:num] != "10":
            ans.append(int(i))

    return ans

print(solution('10S10D*3T'))

[20, 200, 27]

코드 해석해보기(0인지 10인지 판별하는 과정이 중요!)

In [ ]:
for num,i in enumerate('10S10D*3T',1): #인덱스가 1부터 시작함
  print(num,i)

1 1
2 0
3 S
4 1
5 0
6 D
7 *
8 3
9 T

In [ ]:
# 처음 num = 1부터 시작이므로, else문에 들어갔을 때 
# '10S10D*3T'[0:2]를 뽑아냄. -> 10이므로 10으로 append 됨. 

'10S10D*3T'[0:2]

'10'

In [ ]:
'10S10D*3T'[-2:1] #이전 자리도 보고 10이랑 다르면 해당 숫자를 어팬드함, 0인지 아닌지를 확인하는 과정.

''

In [ ]:
#예를 들면 두번째 포인트가 0이라고 볼때, . 
'10S0D*3T'[2:4] # 10이 아닌 S0이므로, 0점이 들어가게 되는 것.

'S0'

정규표현식으로 풀어보기 

참고 링크 : https://brownbears.tistory.com/506

https://engineer-mole.tistory.com/189

```

import re

s = 'aaa@xxx.com, bbb@yyy.com, ccc@zzz.net'

m = re.match(r'([a-z]+)@([a-z]+)\.com', s)
print(m)
# <re.Match object; span=(0, 11), match='aaa@xxx.com'>

result = re.sub(r'([a-z]+)@([a-z]+)\.com', 'new-address', s)
print(result)
# new-address, new-address, ccc@zzz.net


```

In [ ]:
import re

testcase = ['1S2D*3T', '1D2S#10S']
패턴 = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
패턴.findall(testcase[1])

#이렇게 되면 순회하면서 풀면됨

[('1', 'D', ''), ('2', 'S', '#'), ('10', 'S', '')]

In [ ]:
###################
#나혼자 함수 짜보기
###################

def solution(dartResult):
    ans = []
    패턴 = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
    res_list = 패턴.findall(dartResult)

    for 숫자,승수,상 in res_list:
        if 승수 == 'S':
            ans.append(int(숫자)**1)
        elif 승수 == 'D':
            ans.append(int(숫자)**2)
        elif 승수 == 'T':
            ans.append(int(숫자)**3)

        if 상 == '*':
            ans[-1]*=2 # 2배
            if len(ans) == 2: # 이부분은 같으니 유의! (중첩되어 2배 해주는 것)
              ans[-2]*=2
        elif 상 == '#':
            ans[-1]*=-1
    #print(ans)
    return sum(ans)

print(solution('1S2D*3T'))

[2, 8, 27]
37

계산식을 Dict 형태로 만들어서 풀 수 있다.

In [ ]:
##선생님이 푼 방식

def solution(dartResult):
    패턴 = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
    answer = []
    계산식 = {
        'S':lambda 값:값, 
        'D':lambda 값:값**2, 
        'T':lambda 값:값**3
    }
    for 숫자, 승수, 상 in 패턴.findall(dartResult):
        #print(숫자, 승수, 상)
        if 승수 == 'S':
            점수 = 계산식['S'](int(숫자))
        elif 승수 == 'D':
            점수 = 계산식['D'](int(숫자))
        elif 승수 == 'T':
            점수 = 계산식['T'](int(숫자))
        if 상 == '*':
            점수 *= 2
            if answer:
                answer[-1] *= 2
        elif 상 == '#':
            점수 *= -1
        answer.append(점수)
    
    return sum(answer)
            
print(solution('1S2D*3T'))

37

### 5번 카카오 2018 공채 문제 3번: 캐시(난이도: 하)
지도개발팀에서 근무하는 제이지는

"지도에서 도시 이름을 검색하면 해당 도시와 관련된 맛집 게시물들을 데이터베이스에서 읽어 보여주는 서비스"를 개발하고 있다.

이 프로그램의 테스팅 업무를 담당하고 있는 어피치는 서비스를 오픈하기 전 각 로직에 대한 성능 측정을 수행하였는데, 제이지가 작성한 부분 중 데이터베이스에서 게시물을 가져오는 부분의 실행시간이 너무 오래 걸린다는 것을 알게 되었다.

어피치는 제이지에게 해당 로직을 개선하라고 닦달하기 시작하였고,

제이지는 DB 캐시를 적용하여 성능 개선을 시도하고 있지만 캐시 크기를 얼마로 해야 효율적인지 몰라 난감한 상황이다.


**어피치에게 시달리는 제이지를 도와, DB 캐시를 적용할 때 캐시 크기에 따른 실행시간 측정 프로그램을 작성하시오.**

---

#### 입력 형식
- 캐시 크기(cacheSize)와 도시이름 배열(cities)을 입력받는다.
- cacheSize는 정수이며, 범위는 0 ≦ cacheSize ≦ 30 이다.
- cities는 도시 이름으로 이뤄진 문자열 배열로, 최대 도시 수는 100,000개이다.
- 각 도시 이름은 공백, 숫자, 특수문자 등이 없는 영문자로 구성되며, 대소문자 구분을 하지 않는다. 도시 이름은 최대 20자로 이루어져 있다.

#### 출력 형식
- 입력된 도시이름 배열을 순서대로 처리할 때, “총 실행시간”을 출력한다.

##### 조건
- **캐시 교체 알고리즘**은 LRU(Least Recently Used)를 사용한다.
- cache hit일 경우 실행시간은 1이다.
- cache miss일 경우 실행시간은 5이다.

---
알아야 할 것. 
- *일단 캐시 교체 알고리즘을 알아야 할듯*

---

#### (참고)캐시교체알고리즘 
https://hwiyong.tistory.com/398

사용자에게 빠르게 정보를 제공하기 위해 사용하는 캐시에서 새로운 데이터가 발생했을 때, 가장 오래전에 사용된 데이터를 제거하고 새로운 데이터를 삽입하는 알고리즘입니다.


- 새로운 데이터가 들어온 경우 -> 캐시에 넣어준다.
- 캐시가 가득차있다면, 가장 오래된 데이터를 제거하고 넣어준다.
- 존재하는 데이터가 들어온 경우 -> 해당 데이터를 꺼낸 뒤,가장 최근 데이터 위치로 보내준다.


파이썬으로 구현하면 다음과 같습니다.
```
cache_Size = 5
cache = [1, 2, 3, 4, 5]
user_data = [3, 7, 2]

for data in user_data:
	# Miss!
	if data not in cache:
		if len(cache) < cacheSize:
			cache.append(data) 
		else:
			cache.pop(0) # 캐시가 가득 찼기 때문에 우선 첫 번째 데이터를 제거
			cache.append(data)
	# Hit!
	else:
		cache.pop(cache.index(data))
		cache.append(data)

# 캐시 결과 확인
print(cache) # [4, 5, 3, 7, 2]


```

결과를 쫓아가보면,

- 3은 캐시에 존재합니다. 따라서 최근 위치로 옮겨줍니다. --> `[1, 2, 4, 5, 3]`

- 7은 새로운 데이터 입니다. 하지만 그대로 넣어주면 cacheSize를 넘어가므로 가장 오래된 데이터 1을 제거하고 넣어줍니다.
--> `[2, 4, 5, 3, 7]`

- 2는 캐시에 존재합니다. 따라서 최근 위치로 옮겨줍니다. --> `[4, 5, 3, 7, 2]`

In [ ]:
도시이름 = ['Jeju', 'Pangyo', 'Seoul', 'NewYork', 'LA', 'Jeju', 'Pangyo', 'Seoul', 'NewYork', 'LA']

In [ ]:
#캐시크기 3임. 

['Jeju', 'Pangyo', 'Seoul'] #가장 오래있던 jeju가 빠져야함. 
['Pangyo', 'Seoul', 'NewYork']
#다음은 판교가 빠지게 됨. 
['Seoul', 'NewYork', 'LA'] #만약 이 다음에 NewYork이 온다면?
#뉴욕을 일단 제거하고, 다시 append 하게 됨. (최근으로 보냄)

['Seoul', 'LA', 'NewYork'] #만약 이 다음에 NewYork이 온다면? -> 또 제거하고 다시 추가

In [ ]:
#deque를 쓰겠음.

from collections import deque

l = [10,20,30,40]
d= deque(l)
d

deque([10, 20, 30, 40])

In [ ]:
dir(d)

['__add__',
 '__bool__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__copy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'appendleft',
 'clear',
 'copy',
 'count',
 'extend',
 'extendleft',
 'index',
 'insert',
 'maxlen',
 'pop',
 'popleft',
 'remove',
 'reverse',
 'rotate']

In [ ]:
d.append(1) # 맨 뒤에 새로운 값 append 
d

deque([10, 20, 30, 40, 1])

In [ ]:
d.pop() #pop을 하면 후입선출 구조임.

40

In [2]:
from collections import deque

def solution(cacheSize, cities):

  ans = 0 #시간 

  l = [''] * cacheSize # 빈 리스트 생성
  cache = deque(l, maxlen = cacheSize) #maxlen 설정이 중요!!! 
  for city in cities:
    city = city.lower
    if city in cache:
      cache.remove(city) # 삭제하고
      cache.append(city) # 다시 투입 
      ans += 1 
    else: 
      cache.append(city)
      ans += 5 
  return ans



testcase = [
    [3,['Jeju', 'Pangyo', 'Seoul', 'NewYork', 'LA', 'Jeju', 'Pangyo', 'Seoul', 'NewYork', 'LA']],
    [3, ['Jeju', 'Pangyo', 'Seoul', 'Jeju', 'Pangyo', 'Seoul', 'Jeju', 'Pangyo', 'Seoul']]
]
print(solution(3, ['Jeju', 'Pangyo', 'Seoul', 'NewYork', 'LA', 'Jeju', 'Pangyo', 'Seoul', 'NewYork', 'LA']))

###뭐가 문제?!!!

50

# 카카오 난이도 중

### 6번 카카오 2018 공채 문제 4번(셔틀버스)

카카오에서는 무료 셔틀버스를 운행하기 때문에 판교역에서 편하게 사무실로 올 수 있다. 카카오의 직원은 서로를 ‘크루’라고 부르는데, 아침마다 많은 크루들이 이 셔틀을 이용하여 출근한다.

---

이 문제에서는 편의를 위해 셔틀은 다음과 같은 규칙으로 운행한다고 가정하자.

셔틀은 09:00부터 총 n회 t분 간격으로 역에 도착하며, 

하나의 셔틀에는 최대 m명의 승객이 탈 수 있다.


셔틀은 도착했을 때 도착한 순간에 대기열에 선 크루까지 포함해서 대기 순서대로 태우고 바로 출발한다. 

예를 들어 09:00에 도착한 셔틀은 자리가 있다면 09:00에 줄을 선 크루도 탈 수 있다.


일찍 나와서 셔틀을 기다리는 것이 귀찮았던 콘은, 일주일간의 집요한 관찰 끝에 어떤 크루가 몇 시에 셔틀 대기열에 도착하는지 알아냈다. 콘이 셔틀을 타고 사무실로 갈 수 있는 도착 시각 중 제일 늦은 시각을 구하여라.


단, 콘은 게으르기 때문에 같은 시각에 도착한 크루 중 대기열에서 제일 뒤에 선다. 또한, 모든 크루는 잠을 자야 하므로 23:59에 집에 돌아간다. 따라서 어떤 크루도 다음날 셔틀을 타는 일은 없다.

---

#### <입력 형식>
- 셔틀 운행 횟수 n, 
- 셔틀 운행 간격 t, 
- 한 셔틀에 탈 수 있는 최대 크루 수 m,
- 크루가 대기열에 도착하는 시각을 모은 배열 timetable이 입력으로 주어진다.



- 0 ＜ n ≦ 10
- 0 ＜ t ≦ 60
- 0 ＜ m ≦ 45

timetable은 최소 길이 1이고 최대 길이 2000인 배열로, 하루 동안 크루가 대기열에 도착하는 시각이 HH:MM 형식으로 이루어져 있다.
크루의 도착 시각 HH:MM은 00:01에서 23:59 사이이다.




#### <출력 형식>
콘이 무사히 셔틀을 타고 사무실로 갈 수 있는 제일 늦은 도착 시각을 출력한다. 도착 시각은 HH:MM 형식이며, 00:00에서 23:59 사이의 값이 될 수 있다.

중요
`sorted()`*를 써야할때와 `sort`를 써야할때*

In [15]:
def solution(n,t,m,timetable) : 
  timetable = sorted([int(i[:2]) * 60 + int(i[3:]) for i in timetable]) # 시간 분단위로 저장 
  # sort하면 안됨 / sorted를 해야 정렬된 값을 리턴해줌. 

  #콘의 초기값을 일단 9시로 잡도록 하겠다. 
  콘의출근시간 = 540
  출근한사람들=[]
  셔틀버스시간 = 540


  # 1명씩 출근하는 코드
  for i in range(n): # 1번 셔틀 운행할때.. 
    for j in range(m): # 크루 1명당.. 
      if timetable and timetable[0] <= 셔틀버스시간: #해당 시간내에 사람들을 출근시킴 
        #출근한사람들.append(timetable.pop(0) )
        콘의출근시간 = timetable.pop(0)-1

      else: 
        콘의출근시간 = 셔틀버스시간
      
    셔틀버스시간 += t #다음버스로 

  return 콘의출근시간, f'{str(콘의출근시간//60).zfill(2)}:{str(콘의출근시간%60).zfill(2)}'


testcase = [
    (1, 1, 5, ['08:00', '08:01', '08:02', '08:03']),
    (2, 10, 2, ['09:10', '09:09', '08:00']),
    (1, 2, 1, ['09:00', '09:00', '09:00', '09:00'])
]

for n, t, m, timetable in testcase:
    print(solution(n, t, m, timetable))

(540, '09:00')
(549, '09:09')
(539, '08:59')